body {height:1000px;
    width: 1000px;}


.answerbtn {height: 100px;
    width: 300px;
    background: #A45EE5;
    border-style: solid;
    border: #BE93D4;
    border-width: 2px;
    font-size: 24px;}

.button {height: 100px;
        width: 100px;
        background: #A45EE5;
        border-style: solid;
        border: #BE93D4;
        border-width: 2px;
        font-size: 24px;
}